<div class="container-fluid" style="margin-top:-20px; ">

  <div class="row">

    <div class="col-md-3" style="background-color:#0064c8;height:100vh;">

      <div class="row">
        <div class="col-sm-12" style="color:white;">
          <h3 class="text-center"><%= Time.zone.today.strftime('%B %d, %Y') %></h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" style="background-color:rgba(255,255,255,.2);color:white;margin-top:15px;">
          <h3 class="text-center"><%= link_to "Lists", lists_path, :style => "color:white;" %></h3>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" style="background-color:rgba(255,255,255,.2);color:white;">
          <ul style="list-style-type:none;margin-left:25px;padding-left:0px;">
            <% @lists.each do |list| %>
              <% if list.todos.count == 0 %>
                <% complete = "no tasks" %>
              <% else %>
                <% complete = number_to_percentage(list.completed_percentage * 100, :precision => 2)+ ' complete'%>
              <% end %>
              <% if list.date == Time.zone.today %>
               <li style="padding-bottom:5px;"><%= link_to '>> '+list.date.strftime('%B %d, %Y')+' - '+ complete, list_path(list.id), :style => "color:white;" %>
              <% else %>
               <li style="padding-bottom:5px;"><%= link_to list.date.strftime('%B %d, %Y')+' - '+ complete, list_path(list.id), :style => "color:white;" %>
              <% end %>
            <% end %>
          </ul>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" style="background-color:rgba(255,255,255,.2);color:white;">
          <hr>
          <% if @unassigned.todos.count != 1 %>
            <h5 class="text-center"><%= link_to @unassigned.todos.count.to_s+" unassigned tasks", list_path(@unassigned.id), :style => "color:white;" %></h5>
          <% else %>
            <h5 class="text-center"><%= link_to @unassigned.todos.count.to_s+" unassigned task", list_path(@unassigned.id), :style => "color:white;" %></h5>
          <% end %>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" style="background-color:rgba(255,255,255, .2);">
          <h6 class="text-center"><%= link_to "Create New List", new_list_path, :class => "btn btn-sm btn-default" %></h6>
          <hr>
        </div>
      </div>

    </div>

    <div class="col-md-7 col-md-offset-1">
      <div id="score-chart" style="margin-top:30px;height:400px;"></div>
    </div>

  </div>

</div>
<script>
  google.charts.load('current', {'packages':['bar']});

  $.get("<%= Rails.application.routes.url_helpers.lists_stats_path %>").done(function(response){
    response.forEach(function(element) {
      element[1] = Number(element[1])
    })
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date');
      data.addColumn('number', 'Score');
      data.addRows(response);
      var options = {
        legend: {
          position: 'none'
        },
        chart: {
          title: "Daily task score",
          subtitle: "Tasks done x Percentage complete"
        },
        bar: {groupWidth: '20px'}
      }
      var chart = new google.charts.Bar(document.getElementById('score-chart'));
      chart.draw(data, options);
    }
  })
</script>
