<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <td colspan="2">
              <h2 class="text-justify"><%= @list.date.strftime('%B %d, %Y') %> - <%= number_to_percentage(@list.completed * 100, :precision => 2) %> complete</h2>
            </td>
          </tr>
        </thead>
        <tbody>
          <% @list.todos.each do |todo| %>
            <tr>
              <td>
                <%= form_for([@list, todo], :remote => true) do |f| %>
                  <%= f.select :status, options_for_select(todo.status_list, selected: todo.status), {}, onchange:"$(this.closest('form')).submit()" %>
                <% end %>
              </td>
              <td>
                <%= todo.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div> <!-- close row 1 -->

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for([@list, @list.todos.build], :controller => "todos", :action => :create, :remote => true) do |f|%>
        <div class="row">
          <div class="col-sm-9 form-group">
            <%= f.label :name, "Add a task" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9 form-group">
            <%= f.text_field :name, :class => "form-control" %>
          </div>
          <div class="col-sm-2 col-sm-offset-1">
            <%= f.submit "Enter", :class => "btn btn-default btn-sm", :style => "align:bottom;" %>
          </div>
        </div>
      <% end %>
    </div>
  </div><!-- close row 2 -->

</div> <!-- close container -->
