<!DOCTYPE html>
<html>
  <head>
    <title>BasicTodo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= gflash %>
    <div class="container-fluid">
      <%= image_tag 'mastertask-header-v2.png', :class => 'img-responsive' %>
    </div>
    <%= yield %>
  </body>
</html>
